/* ================ Reset Css ================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-spacing: -5px;
}

/* ================ End Reset Css ================ */
body {
  font-family: "IRANSansMobile-fa" !important;
  margin: 0;
  padding: 0;
}

/* ================ NavBar Start ================ */
.nav-list {
  display: none;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar-section {
    flex-direction: row-reverse;
    padding-right: 42px;
    justify-content: flex-end;
  }
  .navbar-section .nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;
  }
}
.navbar-section img:first-of-type {
  padding-right: 20px;
}
@media (min-width: 768px) {
  .navbar-section img:first-of-type {
    display: none;
  }
}

.header-section {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 70px;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;
}

.logo_snap {
  padding-left: 20px;
  height: 32px;
  width: 90px;
}

.nav-list li a {
  text-decoration: none;
  color: black;
}

/* ================ End NavBar ================ */
/* ================ Start Section Main ================ */
.section-main1 {
  display: flex;
  background-color: #21aa58;
}
@media (min-width: 768px) {
  .section-main1 div {
    width: 50%;
  }
  .section-main1 div img {
    object-fit: cover;
    width: 100%;
  }
}
.section-main1 .sm-1 {
  display: flex;
  flex-direction: column;
  margin: 0 35px 0 35px;
}

.sm-2 {
  display: none;
}
@media (min-width: 768px) {
  .sm-2 {
    display: flex;
  }
}

.sm-2 img {
  transform: scaleX(-1);
}

.sm-d-txt1 {
  color: white;
  font-size: 24px;
  padding-top: 16px;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .sm-d-txt1 {
    font-size: 40px;
  }
}

.sm-d-top {
  margin-top: 10px;
}

.sm-d-txt2 {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.sm-d1 {
  display: none;
}
@media (min-width: 768px) {
  .sm-d1 {
    padding-bottom: 3rem;
    display: flex;
  }
}

.sm-d-it1 {
  background-color: transparent;
  color: rgb(235, 235, 235);
  border-style: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7803921569);
  font-family: "IRANSansMobile-fa";
}

.sm-d-btn1 {
  padding: 0.75rem 2rem;
  border-radius: 0.4rem;
  background-color: white;
  color: #33bc36;
  font-size: 0.85rem;
  font-family: IRANSansMobile-fa;
  margin-right: 1rem;
  border-style: hidden;
}

.sm-d-btn2 {
  border-radius: 6px;
  border: 1px solid white;
  background-color: white;
  font-family: IRANSansMobile-fa;
  color: rgba(0, 0, 0, 0.805);
  font-weight: 700;
  height: 48px;
  width: 95%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .sm-d-btn2 {
    background-color: transparent;
    color: white;
    margin-bottom: 60px;
  }
}

/* ================ End Section Main ================ */
/* ================ Start Article Main ================ */
.logo-dlapp {
  display: none;
}
@media (min-width: 768px) {
  .logo-dlapp {
    display: flex;
    margin: 4rem 0;
    justify-content: center;
  }
  .logo-dlapp a {
    padding-left: 2.5rem;
  }
  .logo-dlapp a img {
    height: 47px;
    width: 160px;
  }
}

.box-main {
  width: 22%;
  max-width: 22vw;
}

.main-box-art {
  background-color: #f2f5f8;
}

#mbox-title {
  display: inline-block;
  margin: 50px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgba(20, 20, 20, 0.7254901961);
  width: 100%;
}
@media (min-width: 768px) {
  #mbox-title {
    font-size: 36px;
  }
}

.box_art {
  text-decoration: none;
}

#art-ma-tx {
  display: flex;
  flex-direction: column;
  width: 22vw;
  color: rgba(0, 0, 0, 0.756);
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 16px;
  padding: 10px;
}
#art-ma-tx img {
  height: 48px;
  width: 48px;
}
@media (min-width: 1024px) {
  #art-ma-tx img {
    height: 62px;
    width: 62px;
  }
}
@media (min-width: 768px) {
  #art-ma-tx {
    flex-direction: row;
  }
}
#art-ma-tx span p:first-of-type {
  text-align: center;
  font-weight: 600;
}
@media (min-width: 768px) {
  #art-ma-tx span p:first-of-type {
    text-align: right;
  }
}
#art-ma-tx span p:last-of-type {
  display: none;
}
@media (min-width: 768px) {
  #art-ma-tx span p:last-of-type {
    display: block;
  }
}

.ma-box-artall {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 2rem;
}
.ma-box-artall > a {
  text-decoration: none;
}

.last {
  padding-bottom: 4rem;
}

/* ================ SliderShow start ================ */
.w3-content {
  margin-left: auto;
  margin-right: auto;
}

.w3-display-container {
  position: relative;
}

.mySlides {
  display: none;
  border-radius: 2rem;
}

.w3-container:after, .w3-container:before {
  content: "";
  display: table;
  clear: both;
}

.w3-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.w3-large {
  font-size: 18px !important;
}

.w3-text-white {
  color: #fff !important;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-left {
  float: left !important;
}

.w3-right {
  float: right !important;
}

.w3-hover-text-khaki:hover {
  color: #b4aa50 !important;
}

.w3-badge {
  background-color: #000;
  color: #fff;
  display: inline-block;
  height: 13px;
  width: 13px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
}

.w3-border {
  border: 1px solid #ccc !important;
}

.w3-transparent {
  background-color: transparent !important;
}

.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

/* ================ SliderShow End ================ */
/* ================ Product Start ================ */
#pr-one {
  display: flex;
}

.pro-div {
  width: 50%;
}
.pro-div h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: gray;
}
.pro-div p {
  color: gray;
  text-align: justify;
  width: 75%;
}

/* ================ Product End ================ */
/* ================ Product Two Start ================ */
#pr-two {
  margin-top: -4rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.pr-tw-col {
  background-color: #f2f5f8;
  height: 190px;
  width: 246px;
  border-radius: 1rem;
}

.pr-col {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: grey;
}

.pr-tx {
  font-size: 0.75rem;
  color: rgb(96, 96, 96);
  text-align: justify;
}

/* ================ Product Two End ================ */
/* ================ Product Three Start ================ */
.main-box-art2 {
  background-color: #f2f5f8;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main-box-art2 p {
  font-size: 1rem;
  text-align: center;
  color: rgb(75, 75, 75);
  padding-top: 1.5rem;
}
.main-box-art2 p:first-child {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(75, 75, 75);
  padding-top: 2.5rem;
}

#mn-bobu {
  font-size: 1rem;
  background-color: rgb(0, 209, 112);
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  border-style: hidden;
  font-family: IRANSansMobile-fa;
  padding: 0.75rem 1.4rem;
  margin: 2rem 0;
}

#vid {
  width: 80%;
  height: 80%;
  border-radius: 0.75rem;
  margin: 2rem auto;
}

#table-str {
  display: flex;
  justify-content: center;
}

.table-str-all {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  border-radius: 1rem;
  height: 200px;
  width: 484px;
  align-items: center;
  text-align: justify;
  padding: 0 1rem;
  margin: 0.7rem 0.7rem;
}

#table-str div:last-child {
  margin-bottom: 2rem;
}

/* ================ Product Three End ================ */
.nav-list2 {
  display: flex;
  list-style-type: none;
  padding: 2rem 4rem;
  gap: 18px;
  justify-content: center;
}
.nav-list2 li a {
  text-decoration: none;
  color: black;
}

.footer-list {
  display: flex;
  list-style-type: none;
  padding: 1rem 2rem;
  gap: 7px;
  justify-content: center;
}

/* ================ End Article Main ================ */

/*# sourceMappingURL=app.css.map */
