@font-face {
  font-family: IRANSansMobile-fa;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/fa-Iran-sans-web-bold.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: IRANSansMobile-fa;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/fa-Iran-sans-web-light.woff2") format("woff2");
  font-display: fallback;
}
.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan- y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}

/* ================ Reset Css ================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-spacing: -5px;
}

/* ================ End Reset Css ================ */
/* ================ Start of Value ================ */
body {
  font-family: "IRANSansMobile-fa" !important;
  margin: 0;
  padding: 0;
}

pre {
  color: gray;
  text-align: justify;
  white-space: normal;
  font-family: "IRANSansMobile-fa" !important;
  font-size: 14px;
  word-spacing: normal;
  margin: 8px 0 8px 0;
}

/* ================ End of Value ================ */
/* ================ NavBar Start ================ */
.nav-list {
  display: none;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar-section {
    flex-direction: row-reverse;
    padding-right: 42px;
    justify-content: flex-end;
  }
  .navbar-section .nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;
  }
}
.navbar-section img:first-of-type {
  padding-right: 20px;
}
@media (min-width: 768px) {
  .navbar-section img:first-of-type {
    display: none;
  }
}

.header-section {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 70px;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;
}

.logo_snap {
  padding-left: 20px;
  height: 32px;
  width: 90px;
}

.nav-list li a {
  text-decoration: none;
  color: black;
}

/* ================ End NavBar ================ */
/* ================ Start Section Main ================ */
.section-main1 {
  display: flex;
  background-color: #21aa58;
}
@media (min-width: 768px) {
  .section-main1 div {
    width: 50%;
  }
  .section-main1 div img {
    object-fit: cover;
    width: 100%;
  }
}
.section-main1 .sm-1 {
  display: flex;
  flex-direction: column;
  margin: 0 35px 0 35px;
}

.sm-2 {
  display: none;
}
@media (min-width: 768px) {
  .sm-2 {
    display: flex;
  }
}

.sm-2 img {
  transform: scaleX(-1);
}

.sm-d-txt1 {
  color: white;
  font-size: 24px;
  padding-top: 16px;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .sm-d-txt1 {
    font-size: 40px;
  }
}

.sm-d-top {
  margin-top: 10px;
}

.sm-d-txt2 {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.sm-d1 {
  display: none;
}
@media (min-width: 768px) {
  .sm-d1 {
    padding-bottom: 3rem;
    display: flex;
  }
}

.sm-d-it1 {
  background-color: transparent;
  color: rgb(235, 235, 235);
  border-style: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7803921569);
  font-family: "IRANSansMobile-fa";
}

.sm-d-btn1 {
  padding: 0.75rem 2rem;
  border-radius: 0.4rem;
  background-color: white;
  color: #33bc36;
  font-size: 0.85rem;
  font-family: IRANSansMobile-fa;
  margin-right: 1rem;
  border-style: hidden;
}

.sm-d-btn2 {
  border-radius: 6px;
  border: 1px solid white;
  background-color: white;
  font-family: IRANSansMobile-fa;
  color: rgba(0, 0, 0, 0.805);
  font-weight: 700;
  height: 48px;
  width: 95%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .sm-d-btn2 {
    background-color: transparent;
    color: white;
    margin-bottom: 60px;
  }
}

/* ================ End Section Main ================ */
/* ================ Start Article Main ================ */
.logo-dlapp {
  display: none;
}
@media (min-width: 768px) {
  .logo-dlapp {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin: 4rem 0;
    justify-content: center;
  }
  .logo-dlapp a img {
    height: 47px;
    width: 160px;
  }
}

.box-main {
  width: 22%;
  max-width: 22vw;
}

.main-box-art {
  background-color: #f2f5f8;
}

#mbox-title {
  display: inline-block;
  margin: 50px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgba(20, 20, 20, 0.7254901961);
  width: 100%;
}
@media (min-width: 768px) {
  #mbox-title {
    font-size: 36px;
  }
}

.box_art {
  text-decoration: none;
}

#art-ma-tx {
  display: flex;
  flex-direction: column;
  width: 22vw;
  color: rgba(0, 0, 0, 0.756);
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 16px;
  padding: 10px;
}
#art-ma-tx img {
  height: 48px;
  width: 48px;
}
@media (min-width: 1024px) {
  #art-ma-tx img {
    height: 62px;
    width: 62px;
  }
}
@media (min-width: 768px) {
  #art-ma-tx {
    flex-direction: row;
  }
}
#art-ma-tx span p:first-of-type {
  text-align: center;
  font-weight: 600;
}
@media (min-width: 768px) {
  #art-ma-tx span p:first-of-type {
    text-align: right;
  }
}
#art-ma-tx span p:last-of-type {
  display: none;
}
@media (min-width: 768px) {
  #art-ma-tx span p:last-of-type {
    display: block;
  }
}

.ma-box-artall {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 2rem;
}
.ma-box-artall > a {
  text-decoration: none;
}

.last {
  padding-bottom: 4rem;
}

/* ================ SliderShow start ================ */
.navigation-wrapper {
  direction: ltr;
  scale: 80% 80%;
}

#my-keen-slider {
  border-radius: 9px;
  direction: ltr;
}
#my-keen-slider div img {
  max-width: max-content;
}

[class^=number-slide],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 25vh;
}
@media (min-width: 460px) {
  [class^=number-slide],
  [class*=" number-slide"] {
    height: 50vh;
  }
}

.number-slide1 {
  background-image: url("../img/slider-img/Market.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.number-slide2 {
  background-image: url("../img/slider-img/Driver.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.number-slide3 {
  background-image: url("../img/slider-img/Food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.number-slide4 {
  background-image: url("../img/slider-img/Club.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.dots {
  max-width: fit-content;
  position: relative;
  bottom: 30px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.31);
  display: flex;
  justify-content: center;
  padding: 7px 5px;
  border-radius: 25px;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background-color: hsla(0, 0%, 100%, 0.31);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: white;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  left: auto;
  right: 5px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

/* ================ SliderShow End ================ */
/* ================ Product Start ================ */
#pr-one {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  #pr-one {
    flex-direction: row;
    align-items: flex-start;
  }
}

.pro-div:first-of-type {
  background-image: url(../img/product-img/super-app.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
}
@media (min-width: 1024px) {
  .pro-div:first-of-type {
    width: 49%;
    height: 60vh;
  }
}

.pro-div:last-of-type {
  margin: 0 16px 0 16px;
}
@media (min-width: 1024px) {
  .pro-div:last-of-type {
    width: 49%;
  }
}
.pro-div:last-of-type h2 {
  font-weight: bold;
  text-align: justify;
  font-size: 22px;
  color: gray;
  margin: 16px 0 8px 0;
}

/* ================ Product End ================ */
/* ================ Product Two Start ================ */
#pr-two {
  display: flex;
  flex-direction: column;
  margin: auto;
}
@media (min-width: 768px) {
  #pr-two {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  #pr-two {
    justify-content: center;
  }
}

.pr-tw-col {
  margin: 16px;
}
@media (min-width: 768px) {
  .pr-tw-col {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .pr-tw-col {
    width: 22%;
    position: relative;
    top: -120px;
  }
}

.pr_tw_col_img {
  background-color: #f2f5f8;
  display: flex;
  justify-content: center;
  border-radius: 16px;
}

.pr-col {
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold;
  color: grey;
}

.pr-tx {
  font-size: 0.75rem;
  color: rgb(96, 96, 96);
  text-align: justify;
}

/* ================ Product Two End ================ */
/* ================ Product Three Start ================ */
.main-box-art2 {
  background-color: #f2f5f8;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main-box-art2 p {
  font-size: 1rem;
  text-align: center;
  color: rgb(75, 75, 75);
  padding-top: 1.5rem;
}
.main-box-art2 p:first-child {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(75, 75, 75);
  padding-top: 2.5rem;
}

#mn-bobu {
  font-size: 1rem;
  background-color: rgb(0, 209, 112);
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  border-style: hidden;
  font-family: IRANSansMobile-fa;
  padding: 0.75rem 1.4rem;
  margin: 2rem 0;
}

#vid {
  width: 80%;
  height: 80%;
  border-radius: 0.75rem;
  margin: 2rem auto;
}

#table-str {
  display: flex;
  justify-content: center;
}

.table-str-all {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  border-radius: 1rem;
  height: 200px;
  width: 484px;
  align-items: center;
  text-align: justify;
  padding: 0 1rem;
  margin: 0.7rem 0.7rem;
}

#table-str div:last-child {
  margin-bottom: 2rem;
}

/* ================ Product Three End ================ */
.nav-list2 {
  display: flex;
  list-style-type: none;
  padding: 2rem 4rem;
  gap: 18px;
  justify-content: center;
}
.nav-list2 li a {
  text-decoration: none;
  color: black;
}

.footer-list {
  display: flex;
  list-style-type: none;
  padding: 1rem 2rem;
  gap: 7px;
  justify-content: center;
}

/* ================ End Article Main ================ */

/*# sourceMappingURL=app.css.map */
